#nextObject {
  position: absolute;
  top: 50%; /* Position the button at the middle of the screen vertically */
  right: 10px; /* Move the button to the right side */
  transform: translateY(-50%); /* Adjust the button to be centered vertically */
  z-index: 1000;
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  border-radius: 50%; /* Make the button round */
  text-align: center; /* Center the text */
  line-height: 50px; /* Center the text vertically */
}

#previousObject {
  position: absolute;
  top: 50%; /* Position the button at the middle of the screen vertically */
  left: 10px; /* Move the button to the left side */
  transform: translateY(-50%); /* Adjust the button to be centered vertically */
  z-index: 1000;
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  border-radius: 50%; /* Make the button round */
  text-align: center; /* Center the text */
  line-height: 50px; /* Center the text vertically */
}